/* Created by william on 2019/7/30 18:18 */
/* Develop by william on 2019/7/30 18:18 */
.root {
  &__name {
    font-size: 22px;
    text-align: center;
    padding: 6px 0;
    color: #FFF;
  }

  &__icon {
    margin-left: 10px;
  }

  &__header {
    float: right;
    margin-right: 20px;
  }

  &__content {
    margin: 16px;
    padding: 24px;
    background: #fff;
    height: calc(100vh - 96px);
    overflow-y: hidden;
  }
}
